/* 
    Document   : proveedorescss
    Created on : 30/03/2014, 11:27:27 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/
#tblproveedores{
    margin-left: 5%;
}

