/facturador/target/
/netbeans/domicilios/target/
/netbeans/caliycali/principal/target/
/netbeans/caliycali/sedes/target/
/netbeans/caliycali/colombian-jsf/target/
/netbeans/administracion/target/
/netbeans/colombian/target/
/netbeans/sede/target/
*.svn-base

netbeans/caliycali/colombian-jsf/\.svn/

#Para eclipse
HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

*.class
MANIFEST.MF

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/eclipse/printingcolombian/target/