<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Men&uacute; Colombian</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/menu/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/menu/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/menu/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/menu/img/apple-touch-icon-114x114.png">


        <link rel="stylesheet" type="text/css" href="/menu/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/menu/css/main.css">
        <link href="/menu/css/all.min.css" rel="stylesheet" type="text/css"/>


    </head>
    <body>
        <!--- Wrapper -->
        <div id="wrapper">
            <header id="header">
                <div class="container">
                    <div class="rst-table">
                        <div class="rst-table-row">
                     
                                <a href="http://www.colombianbroaster.com" class="rst-logo rst-table-cell"><img src="/menu/img/logopollo.png" alt=""/></a>
                           
                            <div class="align-middle  h-50">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            

                            <div class="rst-nav-menu collapse navbar-collapse bs-navbar-collapse rst-table-cell">

                                <ul class="rst-main-menu">


                                </ul>
                                <!--<a href="#" class="rst-search-bottom"><i class="fa fa-search"></i></a>-->
                            </div>

                        </div>
                    </div><!-- End Top Header -->
                    <div class="rst-search rst-table">
                        <div class="rst-table-row">
                            <div class="rst-table-cell">
                                <form action="/">
                                    <input type="text" placeholder="type and hit enter" value="" />
                                </form>
                                <a href="#" class="rst-hide-form"><i class="fas fa-close"></i></a>
                            </div>
                        </div>
                    </div><!-- End Top Header -->
                </div>
            </header>	
        </div>
        <div id="content">
            <div class="container rst-main-content">
                <div class="row justify-content-md-center">
                    <div class="col-sm-10">
                        <!-- Accordion --> 
                        <div id="accordion">
                            
                            <div class="card" th:each="category: ${menuColombian.categories}">
       
                                    <div class="card-header" th:id="'heading'+${categoryStat.index}">
                                        <div class="row">
                                            <div class="col-sm-1 d-flex align-items-start justify-content-start">
                                                <img th:src="${category.urlImage}" class="img-fluid" th:alt="${category.name}" data-toggle="collapse" th:data-target="'#collapse'+${categoryStat.index}" aria-expanded="true" th:aria-controls="'collapse'+${categoryStat.index}">

                                            </div>
                                            <div class="col-sm-10 d-flex align-items-start justify-content-start">

                                                <button th:text="${category.name}" class="btn  collapsed btn-block" style="text-align: left;"  data-toggle="collapse" th:data-target="'#collapse'+${categoryStat.index}" aria-expanded="true" th:aria-controls="'collapse'+${categoryStat.index}">
                                                       
                                                 </button>

                                            </div>
                                            <div class="col-sm-1 d-flex align-items-start justify-content-end">
                                                <button class="btn collapsed" data-toggle="collapse" th:data-target="'#collapse'+${categoryStat.index}" aria-expanded="true" th:aria-controls="'collapse'+${categoryStat.index}">
                                                    <i class="fas fa-angle-down collapsed "></i>
                                                </button>

                                            </div>
                                        </div>

                                    </div>

                                    <div th:id="'collapse'+${categoryStat.index}" class="collapse" th:aria-labelledby="'heading'+${categoryStat.index}" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6 " th:each="product: ${category.products}">
                                                    <div class="row m-element-1">
                                                        <img th:src="${product.urlImage}" class="img-fluid mx-auto d-block" th:alt="${product.name}"   aria-expanded="true" >
                                                    </div>
                                                    <div class="row m-element-1" style="height: 50px">
                                                        <div class="col-sm-6 text-left" th:text="${product.name}">
                                                            
                                                        </div>
                                                        <div class="col-sm-6 text-right" th:text="'$'+${product.price}">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row m-element-1">
                                                        <input value=""  class="form-control" type="text" placeholder="Comentarios Adicionales">
                                                    </div>
                                                    
                                                </div>
                                            </div> 
                                        </div>
                                    </div>

                            </div>
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript" src="/menu/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/menu/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/menu/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
