<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <context:annotation-config />
    <!-- holding properties for database connectivity /-->
    <context:property-placeholder location="classpath:colombian.properties"/>
    <!--bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/-->
    <!-- The controllers are autodetected POJOs labeled with the @Controller annotation. -->
    <context:component-scan base-package="com.administracion.controller">
        <context:include-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>
    <context:component-scan base-package="com.administracion.dao" />
    <context:component-scan base-package="com.administracion.service" />
    <context:component-scan base-package="com.administracion.service.autorizacion" />
    <context:component-scan base-package="com.administracion.util" />
    <context:component-scan base-package="com.administracion.datasources" />
    
    <mvc:annotation-driven/>
    <task:annotation-driven/>
    <!-- Logica para interceptar las peticiones web -->
    <bean id="customHandlerInterceptor" class="com.administracion.intercept.CustomHandlerInterceptor" />
    <mvc:interceptors>
        <ref bean="customHandlerInterceptor"/>
    </mvc:interceptors>
   
    <bean class="org.springframework.context.support.ResourceBundleMessageSource"
          id="messageSource">
        <property name="basename" value="messages" />
        <!--property name="defaultEncoding" value="utf-8"/-->
    </bean>
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

    

    <!-- enabling annotation driven configuration /-->
    <!--context:annotation-config/-->
 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${serverbd}/${basededatos}"/>
        <property name="username"  value="${usuariobd}"/>
        <property name="password" value="${paswordbd}"/>
    </bean>
    
    <bean id="dataSourceSede" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${serverbd}/${basededatos}"/>
        <property name="username"  value="${usuariobd}"/>
        <property name="password" value="${paswordbd}"/>
    </bean>
    
    <bean id="dataSourceSubSede" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${serverbd}/${basededatos}"/>
        <property name="username"  value="${usuariobd}"/>
        <property name="password" value="${paswordbd}"/>
    </bean>
    
    <bean id="accesosSubsedes" scope="session"  class="com.administracion.service.autorizacion.AccesosSubsedes">
        <aop:scoped-proxy/>
    </bean>
    
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="packagesToScan" value="com.administracion.entidad" />
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>                             
        <property name="persistenceUnitName" value="administracion-1.0-PU"></property>
    </bean>
	 
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <import resource="classpath:jasper-views.xml" />
     
    <mvc:resources mapping="/img-producto/**" location="/img-producto/" />
    <mvc:resources mapping="/img/**" location="/img/" />
    <mvc:resources mapping="/fonts/**" location="/fonts/" />
    <mvc:resources mapping="/css/**" location="/css/"  />
    <mvc:resources mapping="/font-awesome-4.3/**" location="/font-awesome-4.3/" />
    <mvc:resources mapping="/js/**" location="/js/" />
</beans>
